# Environment
.env

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
.Python

# Virtualenvs
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
*.log
local_settings.py
media/
staticfiles/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
